:root {
	--header-color: rgb(173, 15, 41);
	--body-color: #fff;
	--max-width-sm: 840px;
	--mobile-width: 662px;
	--smooth: 0.25s linear all;
	--shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
}
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
* {
	font-family: Nunito Sans, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-display: swap;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
}
body,
html {
	font-size: 16px;
	scroll-behavior: smooth;
	height: 100%;
	background-color: var(--body-color);
}
#root {
	position: relative;
	min-height: 100%;
	width: 100% !important;
}
#root.grid {
	display: grid;
	grid-template-rows: auto 1fr auto;
}
main {
	margin: auto;
	width: 100%;
	min-height: 100%;
}
main.blur {
	filter: blur(10px);
}
.visible-mobile {
	display: none;
}
a,
a:link,
a:visited {
	color: inherit;
	text-decoration: none;
	font-weight: 500;
}
.btn {
	background-color: #f07;
	color: #fff !important;
	padding: 0.75rem;
	white-space: nowrap;
	display: block;
	width: fit-content;
	border-radius: 3px;
	box-shadow: var(--shadow);
	margin: auto;
}
a.floating_counter {
	position: fixed;
	bottom: 40%;
	right: 1rem;
	background-color: #e90e7c;
	color: #fff;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	box-shadow: var(--shadow);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	font-family: Playfair Display, Times New Roman, Times, serif;
}
img {
	width: 100%;
	display: block;
	object-fit: cover;
}
p.message {
	position: fixed;
	top: 1rem;
	width: 100%;
	max-width: 300px;
	background-color: #fff;
	z-index: 100;
	left: 50%;
	transform: translate(-50%);
	padding: 1rem;
	border-color: green;
	border-style: solid;
	border-width: 5px 0 5px 0;
	border-radius: 5px;
	box-shadow: var(--shadow);
	transition: var(--smooth);
}
p.message.hidden {
	transform: translate(-50%, calc(-100% - 1rem - 2px));
}
button:disabled {
	filter: blur(5px);
}
.fancy-header,
.fancy-header-2 {
	position: relative;
	width: fit-content;
	margin: auto;
	text-align: center;
}
.fancy-header:before,
.fancy-header:after {
	content: '';
	height: 2px;
	background-color: #f07;
	border-radius: 50%;
	width: 1rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.fancy-header:before {
	left: calc(100% + 10px);
}
.fancy-header:after {
	right: calc(100% + 10px);
}
.fancy-header-2:before {
	content: '';
	height: 2px;
	background-color: #f07;
	width: 30%;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
}
.animated {
	transition: 1.5s linear all;
	position: relative;
}
.slide-in {
	transform: translateY(100%);
	opacity: 0;
}
.slide-in-right {
	transform: translate(100%);
	opacity: 0;
}
.carousel-container {
	position: relative;
	overflow: hidden;
	height: max-content;
	width: 100%;
}
.carousel {
	white-space: nowrap;
	width: 100%;
	height: 100%;
	gap: 1rem;
	transition: 0.3s linear all;
}
.carousel-item {
	width: 100%;
	display: inline-block;
	object-fit: cover;
	white-space: pre-wrap;
	vertical-align: middle;
}
.next,
.prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 40px;
	width: 40px;
	background-color: #aaaaaa86;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	cursor: pointer;
}
.next {
	right: 1rem;
}
.prev {
	left: 1rem;
}
@media screen and (max-width: 662px) {
	.visible-mobile {
		display: block;
	}
}
header {
	background-color: var(--header-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 50;
}
header nav {
	z-index: 50;
}
#logo img {
	width: 50px;
}
nav #nav-list ul {
	display: flex;
	gap: 1.5rem;
}
nav #nav-list ul li {
	list-style: none;
	color: #fff;
}
nav #nav-list ul li a {
	padding: 0.5rem;
	border-radius: 3px;
	transition: var(--smooth);
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
nav #nav-list ul li a.active,
nav #nav-list ul li a:hover {
	background-color: pink;
	color: var(--header-color);
}
span.count {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f07;
	box-shadow: var(--shadow);
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	margin-left: 5px;
	color: #fff;
}
@media screen and (max-width: 662px) {
	header {
		justify-content: center;
	}
	nav #nav-list {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 350px;
		background-color: #ffe6ea;
		bottom: 0;
		box-shadow: 0 2px 10px #3a3a3a;
		overflow-y: scroll;
		transition: var(--smooth);
		transform: translate(-100%);
	}
	nav #nav-list.open {
		transform: none;
	}
	#nav-icons .menu {
		color: #fff;
	}
	nav #nav-icons {
		position: fixed;
		top: 36.35px;
		left: 1rem;
		height: 2rem;
		width: 2rem;
		transform: translateY(-50%);
		border-radius: 50%;
		cursor: pointer;
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	nav #nav-icons:hover,
	nav #nav-icons:active {
		border: 1px solid rgb(255, 216, 222);
	}
	nav #nav-list ul {
		margin-top: 46.67px;
		flex-direction: column;
		padding: 1rem;
	}
	nav #nav-list ul li {
		color: #000;
		border: 1px solid pink;
		border-radius: 3px;
	}
	nav #nav-list ul li a {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
	}
	span.hidden {
		display: none;
	}
}
main#home #intro {
	background-image: linear-gradient(
			170deg,
			rgba(250, 192, 255, 0.705),
			rgba(230, 59, 73, 0.705)
		),
		url(/images/wepik-export-20230712234658kZMI-.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center, 80% 100%;
	padding: 2rem 1rem;
	min-height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
#home h1,
#contact h1 {
	font-size: 4rem;
	font-family: Playfair Display, Georgia, Times New Roman, Times, serif;
	font-weight: 900;
	color: #e90e7c;
	text-shadow: var(--shadow);
}
#home #intro p,
main#contact #intro p {
	font-size: 1.2rem;
	color: #ffecec;
	text-shadow: var(--shadow);
}
#featured {
	max-width: var(--max-width-sm);
	display: grid;
	grid-template-columns: 0.3fr 0.7fr;
	margin: 2rem auto;
	height: min-content;
	gap: 1rem;
	padding: 1rem;
}
#featured img {
	max-width: 300px;
	width: 100%;
}
#featured p {
	height: fit-content;
	margin: auto;
}
#reasons {
	max-width: var(--max-width);
	margin: auto;
}
#reasons h2 {
	text-align: center;
	margin: 1rem auto;
}
#reasons ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	padding: 1rem;
}
#reasons li {
	list-style: none;
	background-color: #f1f1f1;
}
#reasons article {
	padding: 1rem;
	text-align: center;
}
#reasons article h3 {
	margin: 1rem auto;
}
#home #testimonials {
	margin: auto;
	max-width: 540px;
	padding: 1rem;
}
#home #testimonials h2 {
	text-align: center;
}
#testimonials .carousel-container {
	margin: 1rem auto;
}
#home #testimonials article {
	background-color: #ffece4;
	padding: 1rem;
	border-radius: 10px;
}
#home #testimonials article > div:first-child {
	display: flex;
	align-items: center;
	gap: 1rem;
}
#home #testimonials article img {
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 50%;
	display: block;
}
#home #testimonials article a span {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	background-color: #bcecff;
	align-items: center;
	white-space: pre;
}
#home #testimonials article address {
	display: flex;
	gap: 1rem;
}
#home #testimonials article a:first-child span {
	background-color: #ffbcff;
}
#home #contact,
#contact #form {
	max-width: var(--max-width-sm);
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	padding: 1rem;
}
#home #contact form,
#contact #form form {
	width: 100%;
	max-width: 540px;
	display: grid;
	grid-template-rows: repeat(auto, 1fr);
	gap: 1rem;
	border-radius: 5px;
	background-color: #fefefe;
	box-shadow: var(--shadow);
	padding: 1rem;
}
#home #contact h2,
#home #contact p,
#contact #form h2,
#contact #form p {
	text-align: center;
}
#home #contact .field-group,
#contact #form .field-group {
	position: relative;
}
#home #contact .field-group label,
#register #form .field-group label,
#contact #form .field-group label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: inherit;
	left: 0.75rem;
	font-size: 0.85rem;
	color: gray;
	transition: 0.25s linear all;
}
#home #contact .field-group input,
#home #contact textarea,
#contact #form .field-group input,
#contact #form textarea {
	display: block;
	padding: 0.75rem;
	outline: none;
	border: none;
	background-color: #f1f1f1;
	border-radius: 5px;
	width: 100%;
	font-size: 0.85rem;
}
#home #contact .field-group input:valid ~ label,
#home #contact .field-group input:focus ~ label,
#contact #form .field-group input:focus ~ label,
#contact #form .field-group input:valid ~ label {
	top: 0;
	font-size: 0.65rem;
	padding: 0.1rem;
	background-color: #fff;
	box-shadow: var(--shadow);
	border-radius: 3px;
}
#home #contact button,
#contact #form button {
	border: none;
	width: 100%;
	max-width: 300px;
	margin: auto;
}
@media screen and (min-width: 961px) and (max-width: 1096px) {
	#reasons ul {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 540px) and (max-width: 960px) {
	#reasons ul {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 539px) {
	#reasons ul {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media screen and (max-width: 610px) {
	#featured {
		display: block;
		text-align: center;
	}
	#featured img {
		margin: auto;
	}
}
main#about {
	overflow-x: hidden;
}
#about #intro {
	background-image: linear-gradient(
		170deg,
		rgba(250, 192, 255, 0.705),
		rgba(230, 59, 73, 0.705)
	);
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
#about #intro img {
	display: block;
	max-width: 400px;
	box-shadow: 5px -5px orange;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: #faebd7;
}
#about #intro article {
	max-width: 600px;
	text-align: center;
}
#about #intro article h1 {
	font-size: 4rem;
	text-shadow: var(--shadow);
	color: #e90e7c;
	font-weight: 900;
}
#about #intro article p {
	font-size: 1.2rem;
	color: #fff;
	text-shadow: var(--shadow);
}
#about #mission,
#about #approach,
#about #customer-satisfaction {
	max-width: var(--max-width);
	margin: 1rem auto;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
#about #mission img,
#about #approach img,
#about #customer-satisfaction img {
	display: block;
	max-width: 400px;
	border-radius: 10px;
	box-shadow: -5px 5px #ff4500;
}
#about #mission article,
#about #approach article,
#about #customer-satisfaction article {
	max-width: 600px;
	text-align: center;
}
#about #invitation {
	max-width: var(--max-width);
	margin: auto;
	text-align: center;
	padding: 1rem;
}
#about #invitation article {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}
#about #invitation article h2.fancy-header-2 {
	margin: 2rem auto;
}
@media all and (max-width: 720px) {
	#about #intro,
	#about #mission,
	#about #approach,
	#about #customer-satisfaction {
		flex-direction: column;
	}
	#about #mission,
	#about #approach,
	#about #customer-satisfaction {
		margin: 2rem auto;
	}
	#about #approach {
		flex-direction: column-reverse;
	}
}
footer {
	background-color: #e90e7c;
	padding: 2rem 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	color: #fff;
	gap: 2rem;
}
footer nav {
	flex-grow: 1;
}
footer ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}
footer li {
	list-style: none;
}
main#contact #intro {
	background-image: linear-gradient(
			170deg,
			rgba(250, 192, 255, 0.705),
			rgba(230, 59, 73, 0.705)
		),
		url(/assets/pexels-alex-andrews-821754-removebg-preview-a3f9ccd7.png);
	background-repeat: no-repeat;
	background-size: auto, contain;
	background-position: center center, center top;
	padding: 2rem 1rem;
	min-height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
main#contact #contact-options {
	padding: 1rem;
	max-width: var(--max-width-sm);
	margin: 2rem auto;
}
main#contact #contact-options div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 2rem 0;
}
main#contact #contact-options div a {
	padding: 1rem;
	border-radius: 50px;
}
main#contact #contact-options div a:first-child {
	background-color: #90ee90;
	color: #005c00;
}
main#contact #contact-options div a:nth-child(2) {
	background-image: linear-gradient(127deg, darkblue 60%, red);
	color: #fff;
}
main#contact #contact-options div a:nth-child(3) {
	background-image: linear-gradient(127deg, red, orange, purple 60%);
	color: #fff;
}
.spin {
	animation: spin 2s linear infinite;
	display: block;
	width: fit-content;
	margin: auto;
}
#shop-home {
	padding: 1rem;
}
#shop-home #products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	max-width: 960px;
	margin: auto;
	padding-top: 2rem;
}
#shop-home #products .product:hover {
	box-shadow: var(--shadow);
}
#shop-home .spin {
	margin: 2rem auto;
}
.load-info {
	font-family: Nunito Sans, Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 2rem;
	opacity: 0.3;
	font-weight: 400;
}
#shop-home #products .product {
	background-color: #ffece4;
	border-radius: 10px;
	overflow: hidden;
}
#shop-home #products .product img {
	height: 200px;
}
#shop-home #products .product .info {
	padding: 1rem;
}
#shop-home #products .product .info p {
	font-weight: 600;
	text-align: center;
}
#shop-home #products .product .info h3 {
	text-align: center;
	text-transform: capitalize;
}
#shop-home #products .product .options {
	display: flex;
	gap: 5px;
	padding: 1rem;
}
#shop-home #products .product .options button {
	flex-grow: 1;
	border: none;
}
#shop-home #products .product .options a {
	padding: 0.65rem;
	font-size: 0.75rem;
	background-color: #00f;
	color: #fff;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--shadow);
}
@media screen and (min-width: 496px) and (max-width: 700px) {
	#shop-home #products {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 496px) {
	#shop-home #products {
		grid-template-columns: 1fr;
	}
}
#single-product {
	max-width: var(--max-width-sm);
	margin: 4rem auto 2rem;
	padding: 1rem;
}
#single-product > div {
	display: grid;
	grid-template-columns: 0.65fr 0.35fr;
	gap: 1rem;
}
#single-product img {
	display: block;
	aspect-ratio: 1/1;
	margin: auto;
}
#single-product > div div {
	display: flex;
	flex-flow: column;
	gap: 1rem;
	justify-content: center;
}
@media screen and (max-width: 720px) {
	#single-product > div {
		grid-template-columns: 1fr;
	}
}
#single-product button {
	display: block;
	width: 100%;
	border: none;
	max-width: 200px;
	margin: auto;
}
