/* Constants */
:root {
	--header-color: rgb(173, 15, 41);
	--body-color: #fff;
	--max-width: 1120px;
}
/* -------------------------------- */

/* Resets */
* {
	font-family: 'Nunito', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-display: swap;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	font-size: 16px;
	scroll-behavior: smooth;
	height: 100%;
	background-color: var(--body-color);
}
#root {
	position: relative;
}
main {
	max-width: var(--max-width);
	margin: auto;
}
a,
a:link,
a:visited {
	color: inherit;
	text-decoration: none;
	font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}
/* ---------------------------------- */

/* Header */
header {
	background-color: var(--header-color);
}
#logo img {
	max-width: 100px;
}
/* --------------------------------- */
